pre-commit
attrs
tqdm
dateparser
colorama
sql-metadata
openai==0.28.0
tiktoken
guidance==0.0.64
fiscalyear
pandas
sqlglot
tabulate
pytest
rapidfuzz
records
SQLAlchemy
recognizers-text
recognizers-text-suite
emoji==1.7.0
azure-identity
transformers
nbformat
datasets
nltk
